In [3]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

[https://github.com/mmorenorolon/eds220-hwk1]()

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This dataset contains information on coral cover and number of "genera" in the Western Indian Ocean dating back from 1998 through 2022. The objective of the study was to create an ecological model that accurately predicts current and future numbers of coral taxa. 
- **Citation**: 
Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.
- **Date Accessed**: 10-07-2025 
- **Archive link**:  https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [4]:
# Import relevant packages
import pandas as pd

# Read in the data
coral_div = pd.read_csv('data/coral_data.csv')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [7]:
#a. Find the number of rows and columns for the `coral_div` data frame

rows = coral_div.shape[0]
columns = coral_div.shape[1]

In [8]:
grader.check("q3_a")

q3_a results: All test cases passed!

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [9]:
#b. Show the column names of the data frame

coral_div_columns = coral_div.columns

In [10]:
grader.check("q3_b")

q3_b results: All test cases passed!

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [19]:
#c. Show the data type for each column

coral_div_types = coral_div.dtypes

In [20]:
grader.check("q3_c")

q3_c results: All test cases passed!

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [24]:
#d Show the first 8 rows of the data frame

first_8_rows = coral_div.head(8)

In [25]:
# View the data frame 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

In [26]:
grader.check("q3_d")

q3_d results: All test cases passed!

<!-- BEGIN QUESTION -->

e. Write code to find out some other inital information you are interested in.

In [27]:
# e. Show the last 8 rows of the data frame
last_8_rows  = coral_div.tail(8)

In [28]:
# View the data frame
last_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
567,11680,32.878336,-27.011417,20,South Africa,Delagoa,Restricted,Slope,Carlos,13.000000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2005,2007,4
568,11680,32.878336,-27.011417,22,South Africa,Delagoa,Restricted,Slope,Porter,10.800000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2022,2022,1
569,11680,32.878336,-27.011417,20,South Africa,Delagoa,Restricted,Slope,Sink,13.833333,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2015,2017,6
570,11681,32.878336,-27.011417,19,South Africa,Delagoa,Restricted,Slope,Sink,15.500000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2015,2016,2
571,11682,32.878336,-27.011417,18,South Africa,Delagoa,Restricted,Slope,Carlos,12.000000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2007,2007,2
572,11683,32.878336,-27.011417,19,South Africa,Delagoa,Restricted,Slope,Carlos,12.600000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2005,2007,10
573,11683,32.878336,-27.011417,19,South Africa,Delagoa,Restricted,Slope,Porter,13.000000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2022,2022,4
574,11683,32.878336,-27.011417,21,South Africa,Delagoa,Restricted,Slope,Sink,13.470000,...,0.568628,0.08475,0.37175,0.030092,15.75,17.0,86.5,2015,2017,15

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

The columns with data type as `int64` means that the column's values are integers while the columns with data type as `float64` are formatted as decimal numbers.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

The output of `coral_div['Country']` is a pandas.Series containing all the values of the *'Country'* column, while the output of `coral_div['Country'].unique` is a Numpy array of each distinct country name only once, that is, without repeating values.

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [37]:
# Find the number of distinct observers in the study 
unique_observers = coral_div['Observer'].nunique()

In [38]:
grader.check("q6")

q6 results: All test cases passed!

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

In [41]:
coral_div['Coralcover']>= 50

0      False
1      False
2      False
3      False
4      False
       ...
570    False
571    False
572    False
573    False
574    False
Name: Coralcover, Length: 575, dtype: bool

The `coral_div['Coralcover']>= 50` object is of type pandas.Series. This Series returns boolean values. The value is `True` if the percent of hard coral cover is greater than or equal to 50%; otherwise, the value is `False`. This kind of object is useful for filtering the dataframe in a specific column  based on a condition.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

In [44]:
coral_div[coral_div['Coralcover'] >= 50]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
39,220,39.233916,-6.658981,17,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.000000,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2016,2016,1
40,220,39.233916,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Slope,Tim,2.833333,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2012,2019,3
41,221,39.256374,-6.658981,25,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
42,221,39.256374,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
43,221,39.256374,-6.658981,12,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,4039,48.082322,-13.553193,27,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Arielle,6.733333,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2017,2019,3
304,4039,48.082322,-13.553193,20,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,6.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,2
305,4039,48.082322,-13.553193,21,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Julien,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,1
306,4039,48.082322,-13.553193,33,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Nyawira,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2015,2015,1
514,6064,40.603847,-12.496246,30,Mozambique,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,8.000000,...,0.529942,-0.145626,0.68105,0.116857,54.75,54.25,126.50,2015,2015,1

The object `coral_div[coral_div['CoralCover'] >= 50]` selects rows from the data frame `coral_div` where the value in the *'CoralCover'* column is greater than or equal to 50.

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [ ]:
coral_cover = ...

In [ ]:
# View the dataframe
coral_cover

In [ ]:
grader.check("q8")

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [ ]:
filtered_data = ...

In [ ]:
# View the dataframe
filtered_data.head()

In [ ]:
grader.check("q9")

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable. `Sampling_2017` should include the following columns in the following order: ` PH, Salinity_mean, Depth, max_yr`.

In [ ]:
sampling_2017 = ...

In [ ]:
# View the dataframe 
sampling_2017

In [ ]:
grader.check("q10")

## 11
Use `iloc` to select rows 95 through 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean` (in that order!).

In [ ]:
subset = ...

In [ ]:
# View the dataframe
subset

In [ ]:
grader.check("q11")

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [ ]:
subset_na = ...

In [ ]:
# View the dataframe 
subset_na

In [ ]:
grader.check("q14")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()